opencv-python>=4.8.0
numpy>=1.24.0
librosa>=0.10.0
scipy>=1.11.0
pyyaml>=6.0
click>=8.1.0
tqdm>=4.65.0
streamlit>=1.30.0
imageio-ffmpeg>=0.5.1
ultralytics>=8.1.0
streamlit-image-coordinates>=0.1.6
filterpy>=1.4.5
